<!-- <h2>Visit List</h2> -->

<!-- 
<div>
    <label> <strong>Search: </strong>
      <input type="text" [(ngModel)]="search"> 
      <br />
    </label>
    <button (click)="search()">Search</button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button (click)="clear()">Clear Filter</button>
  </div>
    <br />
  
    
  <ng-container *ngFor="let item of VisitList">
      <app-visit-detail (delete)="delete($event)" [TheVisit]="item"></app-visit-detail>
  </ng-container>
  <br />

  -->


<!-- <ng-container *ngFor="let vt of VisitList">
    <app-visit-detail [TheVisit]="vt" > </app-visit-detail>
</ng-container> -->

<!-- <div>    
    Search By Name: <input type="text" [(ngModel)]="searchName" />

    <button mat-raised-button (click)="search()"> Search </button>
    <button mat-raised-button (click)="clear()"> Clear </button>
</div> -->

<!-- 
<div *ngFor="let item of VisitList">
    {{ item.appt_date }}
    {{ item.provider }}
    {{ item.user_name }}
    {{ item.pet_id }}
    {{ item.pet_name }}
    {{ item.dob }}
    {{ item.species }}
    {{ item.pet_notes }}
    {{ item.appt_notes }}

    <button (click)="openVisit(item.pet_id)"> Search </button>
</div>


<div *ngIf="editVisit.pet_id > 0">
    <app-appointment [editVisit]="editVisit" (save)="Update($event)"></app-appointment>
</div>


<app-visit-detail save() = "save($event)"> </app-visit-detail>
-->




