<!-- <h1 Visit List></h1> -->

<!-- 
  <div style="margin-bottom: 10px" *ngIf="!editMode" >
    Pet ID: {{TheVisit.pet_id}} <br/>
    Pet Name: {{ TheVisit.pet_name }} <br/>
    Species: {{ TheVisit.species }} <br/>
    Pet DOB: {{ TheVisit.dob }} <br/>
    Species: {{ TheVisit.pet_notes }} <br/>
    Pet Notes: {{ TheVisit.appt_date }} <br/>
    Appt Date: {{ TheVisit.provider }} <br/>
    Appt Notes: {{ TheVisit.appt_notes }} <br/>
</div>
<button (click)="deleteMe()"> Search </button>
-->

<!-- <ng-container> 
<div style="margin-bottom: 10px" *ngIf="!editMode"> 
    <label for="user_name">   <b>Contacts:       </b>{{ TheVisit.user_name }}</label>
    <br /><br />   
    <label for="pet_id">       <b>Pet ID:         </b>{{ TheVisit.pet_id }}</label>
    <br /><br />
    <label for="pet_name">     <b>Pet Name:       </b>{{ TheVisit.pet_name }}</label>
    <br /><br />
    <label for="species">      <b>Species:        </b>{{ TheVisit.species }}</label>
    <br /><br />
    <label for="dob">          <b>Pet DOB:        </b>{{ TheVisit.dob }}</label>
    <br /><br />
    <label for="pet_notes">    <b>Pet Notes:      </b>{{ TheVisit.pet_notes }}</label>
    <br /><br />
    <label for="appt_date">    <b>Appt Date:      </b>{{ TheVisit.appt_date }}</label>
    <br /><br />
    <label for="provider">     <b>Provider:       </b>{{ TheVisit.provider }}</label>
    <br /><br />
    <label for="appt_notes">   <b>Appt Notes:     </b>{{ TheVisit.appt_notes }}</label>
    <br /><br />
</div>
</ng-container>

<ng-container>
<div style="margin-bottom: 10px" *ngIf="editMode">

    <button (click)="edit()">Edit</button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button (click)="deleteMe()">Delete</button>
    <br />

    <button (click)="saveChanges()">Save</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button (click)="cancel()">Cancel</button>
    <br />
    <br />

</div>
</ng-container> -->
