
<!-- <div style="margin-bottom: 10px">
    Pet Name: {{thePetRx.pet_name}} <br/>
    Species: {{thePetRx.species}} <br/>
   
    Rx Name: {{thePetRx.rx_name}} <br/>
    Rx Reminder: {{thePetRx.rx_reminder}} <br/>
    Notes: {{thePetRx.rx_notes}} <br/>
   
</div> -->

<!-- <div *ngIf="editMode" >
    Pet Name: {{thePetRx.pet_name}} <br/>
    Pet Id: {{thePetRx.pet_id}} <br/>
    Rx Id: {{thePetRx.id}} > <br/>
    Rx Name: <input type="text" [(ngModel)]="editRx.rx_name" > <br/>
    Rx Reminder: <input type="text" [(ngModel)]="editRx.rx_reminder" > <br/>
    Notes: <input type="text" [(ngModel)]="editRx.rx_notes" > <br/>
    <button (click)="saveChanges()" >Save</button>
    <button (click)="cancel()" >Cancel</button>
</div> -->